.cb-16-9{
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.cb-1-1{
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.cb-16-9 > *,
.cb-1-1 > *{
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}

.cb-float-left{
    float: left;
}

.cb-float-right{
    float: right;
}

.cb-clearfix{
    &::after{
        clear: both;
        content: "";
        display: block;
    }
}

.cb-x-scroll{
    overflow-x: auto;
}